.form {
  display: flex;
  flex-direction: column;
  border: 1px solid #0106f5;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  gap: 12px;
  width: 300px;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 500;
  margin-bottom: 4px;
}

.input {
  font-size: 14px;
  padding: 4px;
  width: 90%;
}

.error {
  color: red;
  font-size: 12px;
  min-height: 16px;
  margin-top: 2px;
}

.button {
  margin-top: 8px;
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  align-self: center;
}
